#
#  ShowEQ Configuration File
#
#  Note:  any values that need spaces need to be enclosed in "quotes"
#

[Network]
Device          eth0        # your network device
IP              127.0.0.0   # IP of the EQ client, 127.0.0.0 is a wild card address used to tell showeq to automatically grab the next eq session it finds 
MAC             0           # MAC address
RealTimeThread  0           # put network in realtime thread
NoPromiscuous   0           # don't use promiscuous mode
# ArqSeqGiveUp  96         # give up waiting for arq seq after cache fills to this size. don't set this too low, otherwise we'll artificially skip packets

# Below you may set the default Level/Race/Class of your char.
# Defaults will be used whenver the decryption routine fails.
# You may set AutoDetectCharSettings to 0 if you wish to override the decrypted values.
[Defaults]
AutoDetectCharSettings	1   # Attempt to autodetect level/race/class, if 0 OR if decryption fails manual settings will be used.
DefaultLevel            1   # Default level of your character
DefaultRace	        1   # Default race of your character: HUM 1, BAR 2, ERU 3, WLF 4, HIE 5, DELF 6, HEF 7, DWF 8, TRL 9, OGR 10, HAF 11, GNO 12, IKS 128
DefaultClass            1   # Default class of your chracter: WAR 1, CLE 2, PAL 3, RAN 4, SHAD 5, DRU 6, MON 7, BRD 8, ROG 9, SHM 10, NEC 11, WIZ 12, MAG 13, ENC 14
DefaultDeity            140
# Default deity of your chracter: Agn 140, Bert 201, Brell 202, Cazic, 203, Erol 204, Brisle 205, Inny 206, 
#Karana 207, Mith 208, Prex 209, Quell 210, Rallows 211, Solusek 213, 
#Tribunal 214, Tun 215, Rodcet 212, Veeshan 216

[Filters]
FilterFile                  /usr/local/share/showeq/filters.conf
SpawnFilterFile             /usr/local/share/showeq/filter.conf
LogLocates					1
LogCautions					0
LogHunts					0
LogDangers					0
SpawnFilterAudio            0    #  if 1 use sound device 
SpawnFilterIsCaseSensitive  0    #  use case sensitive matches on filters
SpawnAudioCommand           "/usr/bin/esdplay spawn.wave &" 
LocateSpawnAudioCommand		"/usr/bin/esdplay spawn.wave &"
CautionSpawnAudioCommand    "/usr/bin/esdplay spawn.wave &"
HuntSpawnAudioCommand		"/usr/bin/esdplay spawn.wave &"
DangerSpawnAudioCommand		"/usr/bin/esdplay spawn.wave &"
DeSpawnAudioCommand         "/usr/bin/esdplay despawn.wave &"
DeathAudioCommand           "/usr/bin/esdplay death.wave &" 
DeSpawnAlert                1    #  alert on despawn of a watched spawn
DeathAlert                  0    #  alert on death of a watched spawn
AlertInfo                   1    #  shows additional spawn info in alert

[MapMgr]
DefaultLineColor	gray	# Default color for new lines
DefaultLineName	line		# Default name for new lines
DefaultLocationColor	white	# Default name for new locatiosn

[MapFrame]
Caption	"ShowEQ - Map"	# Caption to use for the first Map Frame
ShowStatusBox	1	# Should the top status box be displayed
ShowZoom	1	# Should the zoom control be displayed
ShowPlayerLocation	1	# Should the player location be displayed
ShowMouseLocation	1	# Should the mouse lcoation be displayed
ShowFilter	1	# Should the Find window be displayed
ShowControlBox	1	# Should the bottom control box be displayed
ShowFrameRate	1	# Should the frame rate control be displayed
ShowPanControls	1	# Should the panning controls be displayed
ShowDepthFilterControls	1	# Should the depth filter controls be displayed

[Map]
Framerate                10  # number of map refreshes per second
FastMachine               1  # 0 = limits repaints etc
ShowDroppedItems          1  # shows items dropped on map
ShowUnknownSpawns         1  # shows unknown spawns on map (if missed zone data)
MapDepthFilter            0  # only show map on current level
SpawnDepthFilter          0  # only show spawns on current level
FadingFloors              0  # slowly change map on different levels
OverheadDepth             75 # threshold for each floor
UnderfeetDepth            75 # threshold for each floor
VelocityLines		  1  # shows velocity vectors on map
AnimateSpawnMovement      1  # keeps moving spawns on map
ShowMapPoints             1  # 1 = (normal) Show map points of interest 
HighlightConsideredSpawns 0  # 1 = Draw a red box around spawns that have been considered
Optimize_Method           1  # 0=Memory, 1=Normal, 2=Speed
ShowTooltips              1  # Gives you info about the spawn your mouse is over
ZoomInKey                 +
ZoomOutKey                -
CenterSelectedKey         Ctrl+5
ViewLockKey               Ctrl+0
PanDownLeftKey            Ctrl+1
PanDownKey                Ctrl+2
PanDownRightKey           Ctrl+3
PanLeftKey                Ctrl+4
PanRightKey               Ctrl+6
PanUpLeftKey              Ctrl+7
PanUpKey                  Ctrl+8
PanUpRightKey             Ctrl+9
AddLocationKey            Ctrl+O
StartLineKey              Ctrl+L
AddLinePointKey           Ctrl+P
DeleteLinePointKey        Ctrl+D
MapLineNormalKey          Alt+1
MapLineDepthFilteredKey   Alt+2
MapLineFadedFloorsKey     Alt+3


[Map2Frame]
Caption	"ShowEQ - Map 2"	# Caption to use for the first Map Frame
ShowStatusBox	1	# Should the top status box be displayed
ShowZoom	1	# Should the zoom control be displayed
ShowPlayerLocation	1	# Should the player location be displayed
ShowMouseLocation	1	# Should the mouse lcoation be displayed
ShowFilter	1	# Should the Find window be displayed
ShowControlBox	1	# Should the bottom control box be displayed
ShowFrameRate	1	# Should the frame rate control be displayed
ShowPanControls	1	# Should the panning controls be displayed
ShowDepthFilterControls	1	# Should the depth filter controls be displayed

[Map2]
AnimateSpawnMovement	1
VelocityLines	1
SpawnDepthFilter	0
Framerate	10
ShowDebugInfo	1
ShowPlayer	1
ShowPlayerBackground	1
ShowPlayerView	1
ShowDroppedItems	1
ShowDroppedCoins	1
ShowSpawns	1
ShowSpawnNames	0
HighlightConsideredSpawns	1
ShowTooltips	1
WalkPathShowSelect	1
DrawSize	3
MapLineStyle	0
ShowMapPoints	1
ShowMapLines	1
ShowGridLines	1
ShowGridTicks	1
ShowBackgroundImage	1
GridResolution	500
GridTickColor	#e1c819
GridLineColor	#194819
BackgroundColor	#000000
OverheadDepth	75
UnderfeetDepth	75
OptimizeMethod	1
CacheAlwaysRepaint	0
Font	fixed;11;50;0

[Map3Frame]

[Map3]

[Map4Frame]

[Map4]

[Map5Frame]

[Map5]

#
# Vpacket is a record/playback interface usefull for offline demo/debug/devel
# of showeq
#
[VPacket]
Filename        mydb.db
Record          0      # record to Filename
Playback        0      # playback from Filename 
PlaybackRate    0      # Rate to playback: 0 = fast as poss, 1=1x, 2=2x, etc
CompressTime    1000   # ignore timestamps (compress time) for pckts over 1sec

#
# GUI Options
#
[Interface]
Title          "ShowEQ - Main"       # allows setting of the caption
UseWindowPos    0      # set to 1 if you want to restore the window pos
WindowXOffset   0      # window manager decoration offset (0 for KDE works)
WindowYOffset   0      # window manager decoration offset (0 for KDE works)
WindowX         0      # x position to place mainwindow
WindowY         335    # y position to place mainwindow
WindowW         1010   # width of main window
WindowH         355    # height of main window
FontSize        8      # fontsize used in GUI
StatusFontSize  8      # Status bar and RegExp/Cursor font size
SelectOnCon     1      # selects the spawn that you 'con'
SelectOnTarget  1      # selects the spawn that you target
NetStats        0      # shows network status dialog
RetardedCoords  0      # uses zyx coordinates in spawnlist
PvPTeamColoring 0      # colors spawnlist and map based on pvp teams etc
DeityPvPTeamColoring 0 # colors spawnlist and map based on deity pvp teams etc
KeepSelected    1      # keeps the spawn you have selected in the view
UseStdout       1      # print messages to stdout (as well as messagebox)
ShowCompass     0      # show the compass above the spawnlist
ShowPlayerSkills 1     # show the skill list window
ShowPlayerStats 1      # show the player stats window
ShowSpawnList   1      # show the spawn list
ShowRegEx	1      # show the map's RegEx filter tool...
ShowCursorPos	1      # show the position of the cursor (ingame co-ord)
ShowExpWindow   0      # show the experience window 
ShowSpellList   1      # show the spell list
SystimeSpawntime 0     # 1 = Display time in unix time (seconds since 1970)
SplitVSize1    135    # modified when saved
SplitVSize2    277    # modified when saved
SplitVSize3	161    # modified when saved
SplitHSize1    342    # modified when saved
SplitHSize2    609    # modified when saved
SplitTSize1    1      # modified when saved
SplitTSize2    167    # modified when saved
SplitTSize3    215    # modified when saved
Theme		2      # 0=Motif, 1=CDE, 2=Windows, 3=Platinum
ShowSpellList	1	# 
ShowMap         1      # show the Map
ShowMap2	1	# show Map 2
ShowMap3	0	# show Map 3
ShowMap4	0	# show Map 4
ShowMap5	0	# show Map 5
DockedPlayerSkills	1	# player skill window is docked
DockedPlayerStats 1   # player stat window is docked
DockedSpawnList	1	# player spawn list is docked
DockedMap	1	# dock Map 1
DockedMap2	0	# dock Map 2
DockedMap3	0	# dock Map 3
DockedMap4	0	# dock Map 4
DockedMap5	0	# dock Map 5

[Experience]
WindowX 0              # modified when saved
WindowY 0              # modified when saved

#
# Statusbar options
#
[Interface_StatusBar]
ShowExp           1    # show total exp in status bar
ShowPacketCounter 1    # show packet counter in status bar
ShowSpawns        1    # show num of spawns in status bar
ShowStatus        1    # show general status in status bar
ShowZone          1    # show zone name in status bar
ShowEQTime        1    # show EQ time in the status bar

#
# StatList options
#
[StatList]
SaveWidth         1    # Save column widths upon exit
StatWidth         35   # pixel width of stat name column
ValueWidth        50   # pixel width of value column
MaxWidth          50   # pixel width of max column
PercentWidth      30   # pixel width of percent column
Caption           "ShowEQ - Stats" # stat list window caption when undocked
showAC  	0      # 1 = Display Armor Class in the stats window, 0 = Do not display
showAGI 	0      # 1 = Display AGI in the stats window
showCHA 	0      # 1 = Display CHA in the stats window
showCR  	0      # 1 = Display Cold Resist in the stats window
showDEX 	0      # 1 = Display DEX in the stats window
showDR  	0      # 1 = Display Disease Resist in the stats window
showExp 	1      # 1 = Display Experience in the stats window
showFR  	0      # 1 = Display Fire Resist in the stats window
showFood	0      # 1 = Display Food Value in the stats window
showHP  	1      # 1 = Display Hit Points in the stats window    
showINT 	1      # 1 = Display INT in the stats window
showMR  	0      # 1 = Display Magic Resist in the stats window
showMana	1      # 1 = Display Mana in the stats window
showPR  	0      # 1 = Display Poison Resist in the stats window
showSTA 	1      # 1 = Display STA in the stats window
showSTR 	0      # 1 = Display STR in the stats window
showWIS 	0      # 1 = Display WIS in the stats window
showWatr	1      # 1 = Display Water value in the stats window
showStam        0      # 1 = Display Stamina value in the stats window

#
# SpellList options
#
[SpellList]
SaveWidth         1    # Save column widths upon exit
SpellIDWidth      0
SpellNameWidth    90
CasterIDWidth     0
CasterNameWidth   79
TargetIDWidth     0
TargetNameWidth   90
CastTimeWidth     0
RemainTimeWidth   63

#
# SkillList options
#
[SkillList]
SaveWidth         1    # Save column widths upon exit
SkillWidth        125  # pixel width of skill name column
ValueWidth        35   # pixel width of skill value column
SaveShowLanguages 1    # Save show languages setting upon exit
ShowLanguages     1    # skill list includes language skills
Caption           "ShowEQ - Skills" # skill list window caption when undocked

#
# SpawnList options
#
# Note:  The default values shown work well for a 10point font
#
[SpawnList]
SaveWidth         0    # if set the following values will be saved upon exit
NameWidth         155  # comment out any of these values to make them autosize
LevelWidth        25
HPWidth           35
MaxHPWidth        0 
Coord1Width       0    # pixel width of 1st coordinate
Coord2Width       0    # pixel width of 2nd coordinate
Coord3Width       0    # set to 0 to hide the column completely
IDWidth           0 
DistWidth         35
RaceWidth         40
ClassWidth        40
InfoWidth         40   
SpawnTimeWidth    40   
ShowRealName      0    # Display real eq name or formatted name in spawnlist

[CategoryMgr]
Category1_Name    All  # category for all spawns but filtered
Category1_Filter  .       # regular expression matching everything
Category2_Name    NPCs    # category for all filtered spawns 
Category2_Filter  NPC:1   # matches NPC's 
Category3_Name    Players # category for all filtered spawns 
Category3_Filter  NPC:0   # matches PC's 
Category4_Name	  Shop&Bank
Category4_Filter  Class:Shopkeeper|Class:Banker
Category5_Name	  Will-o-Wisps
Category5_Filter  :Race:Will[^:]:Light:GLS:
Category6_Name    Corpses/Players
Category6_Filter  NPC:2   # matches PC Corpses
Category7_Name    Corpses/NPCs
Category7_Filter  NPC:3   # matches NPC Corpses
Category8_Name    Hunting # category for all spawns matching Hunt rules
Category8_Filter  :Hunt: # regular expression matching Hunt filters
Category8_Color   DarkBlue
Category9_Name    Alert # category for all spawns we want to be alerted about
Category9_Filter  :Alert: # regular expression matching Alert filters
Category9_Color   DarkMagenta
Category10_Name   Locate # category for all spawns we want located
Category10_Filter :Locate: # regular expression matching Locate filters
Category11_Name   Filtered  # category for all filtered spawns 
Category11_Filter :Filtered:  # regular expression matching filtered spawns 
Category12_Name   "Map Found" # Category for spawns matching map Find queries
Category12_Filter :Map[2-5]{0,1}: # Matches for any of the Maps 1-5 
Category12_Color  DarkCyan

#
# Message Dialog Boxes
#
# Title must be set, other values are optional
# Additive specifies if items matching those in the filter list are flagged
# for 'addition' to the list, or if they are truely being 'filtered'
# subtracted from the list.  For example, if you want to filter out all
# shouts, do a subtractive filter for 'Shout'.  If you want to see only shouts
# do an additive filter for 'Shout'
#
# If you want everything showing you must have a 'subtractive' list with no
# active filters
#
# Options:
#    WindowX/Y/W/H   - restore window geometry (X/Y only if UseWindowPos)
#    HideControls    - shows/hides the togglebuttons
#    ShowMsgType     - shows/hides the message type
#    Additive        - selects additive or subtractive filter
#    ButtonXName     - name to put on button 'X'
#    ButtonXFilter   - filter to use for button 'X'
#    ButtonXActive   - button 'X' checked/unchecked
#
[MessageBox1]
Title           "Channels"   # uncomment this line to enable this box
WindowX         4
WindowY         4
WindowW         420
WindowH         235
HideControls    0
ShowMsgType     1
Additive        1
Button1Name     Shout
Button1Filter   "^Shout"
Button1Active   1
Button2Name     Group
Button2Filter   "^Group"
Button2Active   1
Button3Name     Tell
Button3Filter   "^Tell"
Button3Active   1
Button4Name     Auc
Button4Filter   "^Auc"
Button4Active   1
Button5Name     Say
Button5Filter   "^Say"
Button5Active   1
Button6Name     Emote
Button6Filter   "^Emote"
Button6Active   1
Button7Name     OOC
Button7Filter   "^OOC"
Button7Active   1
Button8Name     Guild
Button8Filter   "^Guild"
Button8Active   1
Button9Name	Spells
Button9Filter	"^SPELL:"
Button9Active	1
Button10Name	Items
Button10Filter	"^Item"
Button10Active	0
Button11Name	Zone
Button11Filter	"^Zone"
Button11Active	0

[MessageBox2]
#Title           "Skills"      # uncomment this line to enable this box
WindowX         595
WindowY         20
WindowW         400
WindowH         300
HideControls    0
Additive        1
Button1Name     Skills
Button1Filter   "^Skill"
Button1Active   1

[MessageBox3]
#Title           "Items"      # uncomment this line to enable this box
WindowX         4
WindowY         4
WindowW         420
WindowH         235
HideControls    0
Additive        1
Button1Name	Items
Button1Filter	"^Item"
Button1Active	1

[PacketLogging]
# These options write out hex dumps of selected packets to the specified
# files.  These are used primarily by those reverse engineering the data
# stream.
LogAllPackets		0
LogZonePackets		0
LogUnknownZonePackets	0
LogEncrypted            0
GlobalLogFilename	/usr/local/share/showeq/global.log
ZoneLogFilename		/usr/local/share/showeq/zone.log
UnknownZoneLogFilename	/usr/local/share/showeq/unknownzone.log
EncryptedLogFilenameBase /usr/local/share/showeq/encrypted.log

[Misc]
BrokenDecode            0 # set to 1 to skip spawn packets
SpawnLogFilename        /usr/local/share/showeq/spawnlog.txt
ShowSpellMessages       1 # Enable / disable spell casting messages
SpawnLogEnabled         1  # set to 0 to not log spawns
WalkPathRecording       0  # 
WalkPathShowSelect      0  # 
WalkPathLength          0  # 
LogSpawns               0  # 
LogItems                0  # 

[OpCodeMonitoring]
Enabled                 0  # ONLY Enable this if you are a developer...
List                    "" # A list of OpCodes seperated by cmmas...
                           #
                           # Each Opcode has 4 arguments, only one of
                           # which is actually necessary... They are:
                           #
                           # OpCode:    16-bit HEX value of the OpCode
                           #             (REQUIRED - No Default)
                           #
                           # Alias:     Name used when displaying the Opcode
                           #             (DEFAULT: Monitored OpCode)
                           #
                           # Direction: 1 = Client ---> Server
                           #            2 = Client <--- Server
                           #            3 = Client <--> Server (BOTH)
                           #             (DEFAULT: 3)
                           #
                           # Show known 1 = Show if OpCode is marked as known.
                           #            0 = Ignore if OpCode is known.
                           #             (DEFAULT: 0)
                           #
                           # The way which you include the arguments in the list of OpCodes is:
                           # adding a ':' inbetween arguments and a ',' after the last OpCode
                           # argument.
                           #
                           # (i.e. 7F21:Mana Changed:3:1, 7E21:Unknown Spell Event(OUT):1,
                           #       7E21:Unknown Spell Event(IN):2 )
                           #
                           # If any argument is left blank, it is filled in with its default...
                           # (see defaults above)

[ItemDB]
# Enabled controls whether or not the ItemDB is active at all in ShowEQ
# setting it to a value of 0 will disable all ItemDB functionality within
# the ShowEQ program
Enabled           1

# DatabasesEnabled is the logical or of the following values:
#  LORE_DB = 0
#  NAME_DB = 1 (obsolete: lore, name, and data stored together now)
#  DATA_DB = 2 (obsolete: lore, name, and data stored together now)
#  RAW_DATA_DB = 4
#  so to enable all databases use 7 (LORE_DB|NAME_DB|DATA_DB|RAW_DATA_DB)
#  The default is 5 (LORE_DB|NAME_DB|DATA_DB)
#  if you never use the CGI's you can use the value 0 (LORE_DB) which
#  will only enable the minimum necessary to support ShowEQ displays
DatabasesEnabled    7

# The options below change the location of the item databases 
# LoreDBFilename    /usr/local/share/showeq/itemlore
# NameDBFilename    /usr/local/share/showeq/itemname
# DataDBFilename    /usr/local/share/showeq/itemdata
# DataDBFilename    /usr/local/share/showeq/itemrawdata

